<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Set your browser -->
		<add key="Browser" value="Chrome" />
		<!-- Set your timeout -->
		<add key="ElementTimeout" value="10"/>
		<!-- Set your start url -->
		<add key="StartUrl" value="https://outlook.live.com/owa/"/>
	</appSettings>
</configuration>